@charset "UTF-8";

body {
    background-image: linear-gradient(to right, rgb(98, 0, 128), rgb(197, 25, 240));
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    max-width: 500px;
    box-shadow: 5px 5px 15px rgb(56, 2, 107);
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

h2 {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 15px black;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
    box-shadow: 5px 5px 15px black; 
}
p:hover{
    transform: scale(1.05);
}
h2:hover{
    transform: scale(1.0);
}
