@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient( to right,#280738, #9E1ADB);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #63118A;
    width: 500px;
    padding: 10px;
    margin: auto;

}
h1{
    color: #420B5C;
    text-align: center;
    text-shadow: 1px 1px 0px #9e1adbaf;
}
h2{
    color: #8115B3;
}
p{
    text-align: justify;

}